<div class="add-diagnosis-container">
    <h2>Agregar Diagnóstico</h2>
    <form (ngSubmit)="submitForm()">
        <div class="form-group">
            <label for="reason">Síntomas:</label>
            <input type="text" id="reason" name="reason" [(ngModel)]="symptomInput" (keyup.enter)="addSymptom()"
                required placeholder="Haz enter para agregar un síntoma...">
        </div>
        <div class="symptom-checkboxes">
            <h2 *ngIf="symptoms.length === 0">Aún no has agregado síntomas</h2>
            <div *ngFor="let symptom of symptoms">
                <!-- <input class="input" type="checkbox" checked [id]="symptom" [name]="symptom"> -->
                <mat-icon class="remove" (click)="removeSymptom(symptom)">close</mat-icon>
                <label class="label" [for]="symptom">{{ symptom }}</label>
            </div>
        </div>
        <div class="form-group">
            <label for="diagnosis">Diagnóstico:</label>
            <input type="text" id="diagnosis" name="diagnosis" [(ngModel)]="diagnosis.diagnosis" required
                placeholder="Diagnóstico...">
        </div>
        <div class="form-group">
            <label for="treatment">Tratamiento:</label>
            <input type="text" id="treatment" name="treatment" [(ngModel)]="diagnosis.treatment" required
                placeholder="Tratamiento...">
        </div>
        <div class="form-group">
            <label for="observations">Recomendaciones:</label>
            <input type="text" id="observations" name="observations" [(ngModel)]="diagnosis.observations" required
                placeholder="Observaciones...">
        </div>
        <div class="form-group">
            <label for="status">Estatus:</label>
            <select id="status" name="status" [(ngModel)]="diagnosis.status" required>
                <option value="" disabled selected>Selecciona un estatus...</option>
                <option value="En tratamiento">En tratamiento</option>
                <option value="Recuperado">Recuperado</option>
                <option value="Sin cambios">Sin cambios</option>
            </select>
        </div>
    </form>
    <button (click)="submitForm()">Agregar Diagnóstico</button>
</div>