<div class="container">

  <!--   <h1 class="graphics_title">Análisis de datos</h1> -->

  <div class="graphics">
    <div class="graphics_body_item" (click)="goAddClient()">
      <div class="graphics_body_item_header">
        <h2 class="graphics_body_item_title">Nuevo cliente</h2>
      </div>
      <div class="graphics_body_item_body">
        ¿Quieres agregar un nuevo cliente?
        <span>
          <mat-icon class="material-icons-outlined">
            person_add
          </mat-icon>
        </span>
      </div>
    </div>
    <div class="graphics_body_item" (click)="goAddPet()">
      <div class="graphics_body_item_header">
        <h2 class="graphics_body_item_title">Nueva mascota</h2>
      </div>
      <div class="graphics_body_item_body">
        ¿Quieres agregar una mascota?
        <span>
          <mat-icon class="material-icons-outlined">
            pets
          </mat-icon>
        </span>
      </div>
    </div>
    <div class="graphics_body_item" (click)="goAddAppointment()">
      <div class="graphics_body_item_header">
        <h2 class="graphics_body_item_title">Nueva cita</h2>
      </div>
      <div class="graphics_body_item_body">
        ¿Quieres agregar una cita?
        <span>
          <mat-icon class="material-icons-outlined">
            add_alert
          </mat-icon>
        </span>
      </div>
    </div>
    <div class="graphics_body_item bod">
      <div class="graphics_body_item_header div divheader">
        <h2 class="graphics_body_item_title">Citas del Día</h2>
      </div>
      <div class="panel-not div" *ngIf="appointmentsToday.length === 0"><span>No hay citas programadas para hoy</span>
      </div>
      <!-- <div class="graphics_body_item_body div" (click)="goAddAppointment()" *ngIf="appointmentsToday.length === 0">
        ¿Quieres agregar una cita?
        <span>
          <mat-icon class="material-icons-outlined">
            add_alert
          </mat-icon>
        </span>
      </div> -->
      <div class="graphics_body_item_body secondBod">
        <mat-accordion class="accordion" [multi]="true">
          <div class="list">

            <div *ngFor="let appointment of appointmentsToday, let i = index">
              <mat-expansion-panel class="panel" [expanded]="true">
                <mat-expansion-panel-header class="header-panel">
                  <mat-panel-title class="panel-title">
                    <span>{{ appointment.user }}</span>
                    <span>{{ appointment.date | date: 'shortTime' }}</span>
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <mat-panel-description class="panel-description" (click)="goAppointments()">
                  <span>{{ appointment.pet }}</span>
                  <span>{{ appointment.doctor }}</span>
                  <span>{{ appointment.service }}</span>
                </mat-panel-description>
              </mat-expansion-panel>
            </div>
          </div>
        </mat-accordion>
      </div>
    </div>

    <div class="subtitle">
      <span class="graphics_title">Análisis de los datos registrados</span>
    </div>

    <div class="graphics_body_item">
      <div class="graphics_body_item_header">
        <h2 class="graphics_body_item_title">Especies más tratadas</h2>
      </div>
      <div class="graphics_body_item_body">
        <ngx-charts-bar-vertical [view]="[400, 300]" [scheme]="colorScheme" [results]="barChartData" [xAxis]="showXAxis"
          [yAxis]="showYAxis" [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel"
          [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel"></ngx-charts-bar-vertical>
      </div>
    </div>
    <div class="graphics_body_item">
      <div class="graphics_body_item_header">
        <h2 class="graphics_body_item_title">Clientes</h2>
      </div>
      <div class="graphics_body_item_body">
        <ngx-charts-area-chart [view]="[400, 300]" [scheme]="'neons'" [results]="areaChartData" [xAxis]="showXAxis"
          [yAxis]="showYAxis" [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel"
          [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel"></ngx-charts-area-chart>
      </div>
    </div>

    <div class="graphics_body_item">
      <div class="graphics_body_item_header">
        <h2 class="graphics_body_item_title">Citas de los últimos meses</h2>
      </div>
      <div class="graphics_body_item_body">
        <ngx-charts-line-chart [view]="[400, 300]" [scheme]="'neons'" [results]="lineChartData" [xAxis]="showXAxis"
          [yAxis]="showYAxis" [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel"
          [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel"></ngx-charts-line-chart>

      </div>
    </div>
    <div class="graphics_body_item">
      <div class="graphics_body_item_header">
        <h2 class="graphics_body_item_title">Medicamentos recetados</h2>
      </div>
      <div class="graphics_body_item_body">
        <ngx-charts-pie-chart class="chart" [view]="[650, 400]" [scheme]="'neons'" [results]="pieChartData"
          [explodeSlices]="false" [doughnut]="false" [legend]="true" [labels]="true"></ngx-charts-pie-chart>
      </div>
    </div>
    <div class="graphics_body_item">
      <div class="graphics_body_item_header">
        <h2 class="graphics_body_item_title">Servicios más solicitados</h2>
      </div>
      <div class="graphics_body_item_body">
        <ngx-charts-pie-grid class="chart" [view]="[650, 400]" [scheme]="'neons'"
          [results]="gridChartData"></ngx-charts-pie-grid>
      </div>
    </div>
  </div>
</div>