.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
}

.form {
    width: 30%;
    background-color: #efefef;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.3);
    padding: 2rem 1rem;
    border-radius: 6px;
    font-weight: 200;  
    
}

.title {
    text-align: center;
    font-size: 2rem;
    font-weight: 300;
    margin: 2rem;
    margin-top: 0;
}

.form-group {
    font-size: .9rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem;
}

.street {
  display: flex;
  justify-content: space-between;
}

.municipio, .calle {
  width: 45%;
}

.formB {
    margin-bottom: .5rem;
}

.input {
    margin-top: 8px;
    padding: .9rem 1rem;
    border: 1px solid #ccc;
    border-radius: 0.35rem;
    font-size: 1rem;
    outline: none;
}

.link {
    color: #2962ff;
    text-decoration: none;
    display: block;
    margin-bottom: 5px;
}

.link:hover {
    text-decoration: underline;
}

.btnContainer {
    display: flex;
    justify-content: space-between;
    align-self: center;
}

.btnSubmit {
    margin: auto;
    margin-top: 1rem;
    padding: 0.6rem 1rem;
    border: thin solid #0035c5;
    border-radius: 0.30rem;
    font-size: 1.1rem;
    background-color: #0035c5;
    color: #fff;
    cursor: pointer;
    outline: none;
    transition: all 0.2s ease-in-out;
    width: 100%;
}

.btnSubmit:hover {
    background-color: #fff;
    color: #0035c5;
    border: thin solid #0035c5;
}

.btnDisabled {
  cursor: not-allowed !important;
  margin: auto;
  margin-top: 1rem;
  padding: 0.6rem 1rem;
  border: thin solid #999;
  border-radius: 0.30rem;
  font-size: 1.1rem;
  background-color: #999;
  color: #fff;
  cursor: pointer;
  outline: none;
  transition: all 0.2s ease-in-out;
  width: 100%;
}

@media screen and (max-width: 980px) {
  .form {
    width: 40%;
  }
}

@media screen and (max-width: 700px) {
  .form {
    width: 60%;
  }
}

@media screen and (max-width: 500px) {
  .form {
    width: 80%;
  }
}