<div class="nav-container">
    <div class="nav-logo">
        <button class="btnToggle" (click)="toggleSideBar()">
            <div class="button-burguer">
                <div [ngClass]="!showNavbar ? 'burguer1' : 'burguer1-active'"></div>
                <div [ngClass]="!showNavbar ? 'burguer2' : 'burguer2-active'"></div>
                <div [ngClass]="!showNavbar ? 'burguer3' : 'burguer3-active'"></div>
            </div>
        </button>
    </div>
    <div class="nav-buttons">
        <button class="veterinary">{{ veterinary }}</button>
        <!-- <button class="logout" (click)="goDashboard(); closeSideBar()">Ir al Dashboard</button> -->
    </div>
</div>