<div class="container">
    <div class="form">
        <h1 class="title">Recuperar contraseña</h1>
        <form (ngSubmit)="onSubmit()" [formGroup]="passwordForm">
            <div class="form-group">
                <label for="password"></label>
                <input class="input" type="password" id="password" name="password" formControlName="password"
                    placeholder="Ingresa la nueva contraseña" required>
                <mat-error
                    *ngIf="passwordForm.get('password')?.touched && passwordForm.get('password')?.errors?.['required']">
                    La contraseña es requerida
                </mat-error>
                <mat-error *ngIf="passwordForm.get('password')?.errors?.['pattern']">
                    Ingresa una contraseña válida
                </mat-error>
                <mat-error *ngIf="passwordForm.get('password')?.errors?.['minlength']">
                    La contraseña debe tener al menos 8 caracteres
                </mat-error>
            </div>
            <div class="form-group">
                <label for="confirmPassword"></label>
                <input class="input" type="password" id="confirmPassword" name="confirmPassword"
                    formControlName="confirmPassword" placeholder="Confirmar la nueva contraseña" required>
                <mat-error
                    *ngIf="passwordForm.get('confirmPassword')?.touched && passwordForm.get('confirmPassword')?.errors?.['required']">
                    La confirmación de la contraseña es requerida
                </mat-error>
                <mat-error *ngIf="passwordForm.get('password')?.errors?.['pattern']">Ingresa al menos una letra mayúscula,
                    una minúscula, un número y un caracter especial</mat-error>
            </div>
            <div class="btnContainer">
                <button [disabled]="!passwordForm.valid"
                    [ngClass]="{'btnSubmit': passwordForm.valid, 'btnDisabled': !passwordForm.valid}"
                    type="submit">Cambiar contraseña</button>
            </div>
        </form>
    </div>
</div>