.container {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-container {
  width: 90%;
  margin: auto;
  padding: 20px;
  text-align: center;
}

.form-container h2 {
  font-size: 1.5rem;
  margin-bottom: 20px;
  font-size: 2rem;
  font-weight: 300;
  padding: 1rem 0;
}

.form-container form {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

mat-form-field {
  margin: auto;
  width: 90%;
}

.field-doctors {
  grid-column: span 3;
  width: 30%;
  margin: auto;
}

.toggle-example {
  display: flex;
}

.back {
  position: absolute;
  top: 1rem;
  left: 1.5rem;
  padding: .44rem 1rem;
  border-bottom-right-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: #0060b0;
  color: white;
}

.back::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 100%;
  border-style: solid;
  border-color: transparent #0060b0;
  border-width: 17px 15px 17px 0;
  width: 0;
  height: 0;
}

.back span {
  font-size: 1.2rem;
  font-weight: 200;
}

.btnContainer {
  grid-column: span 3;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  justify-content: space-between;
  width: 70%;
}

.btnSubmit,
.btnCancel {
  grid-column: span 1;
  margin: auto;
  margin-top: 1rem;
  padding: 0.6rem 1rem;
  border: thin solid #0035c5;
  border-radius: 0.30rem;
  font-size: 1.1rem;
  background-color: #0035c5;
  color: #fff;
  cursor: pointer;
  outline: none;
  transition: all 0.2s ease-in-out;
  width: 100%;
}

.btnSubmit {
  margin-right: 1rem;
}

.btnCancel {
  margin-left: 1rem;
  background-color: #dc3545;
  border: thin solid #dc3545;
  color: #fff;
}

.btnCancel:hover {
  background-color: #fff;
  color: #dc3545;
  border: thin solid #dc3545;
}

.btnSubmit:hover {
  background-color: #fff;
  color: #0035c5;
  border: thin solid #0035c5;
}

.btnDisabled {
  grid-column: span 1;
  cursor: not-allowed !important;
  margin: auto;
  margin-top: 1rem;
  padding: .6rem 1rem !important;
  border: thin solid #2e82d7;
  border-radius: 0.30rem;
  font-size: 1.1rem;
  background-color: #2e82d7;
  color: #fff;
  cursor: pointer;
  outline: none;
  transition: all 0.2s ease-in-out;
  width: 100%;
}

button {
  padding: 0;
}

@media (width < 700px) {
  .btnContainer {
    grid-template-columns: repeat(1, 1fr);
    width: 90%;
  }

  .form-container h2 {
    margin-top: 25rem !important;
  }

  mat-form-field {
    grid-column: span 3;
  }

  .field-doctors {
    width: 90% !important;
  }

  .btnCancel,
  .btnSubmit {
    margin: auto;
  }
}