<div class="form-container">
    <h2>Editar cita</h2>
    <form [formGroup]="appointmentForm" (submit)="updateAppointment()">
        <div class="back" (click)="onCancelClick()">
            <mat-icon>cancel</mat-icon>
        </div>
        <mat-form-field appearance="outline">
            <mat-label>Escoge el día</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="day" [min]="date" (click)="picker.open()"
                [readonly]="true" (dateChange)="onDateChange($event)">
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-error
                *ngIf="appointmentForm.get('day')?.touched && appointmentForm.get('day')?.errors?.['required']">El día
                es requerido</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Selecciona la hora de la cita</mat-label>
            <mat-select formControlName="hour">
                <mat-option *ngFor="let hour of appointmentHoursValues; let i = index" [value]="hour">
                    {{ appointmentHoursLabels[i] }}
                </mat-option>
            </mat-select>
            <mat-error
                *ngIf="appointmentForm.get('hour')?.touched && appointmentForm.get('hour')?.errors?.['required']">La
                hora es requerida</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Servicio:</mat-label>
            <mat-select formControlName="service">
                <mat-option *ngFor="let service of listServices" [value]="service.id">
                    {{ service.name }}
                </mat-option>
            </mat-select>
            <mat-error
                *ngIf="appointmentForm.get('service')?.touched && appointmentForm.get('service')?.errors?.['required']">El
                servicio es requerido</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Estatus:</mat-label>
            <mat-select formControlName="status">
                <mat-option value="Pendiente">Pendiente</mat-option>
                <mat-option value="Confirmada">Confirmada</mat-option>
                <mat-option value="En curso">En curso</mat-option>
                <mat-option value="Finalizada">Finalizada</mat-option>
                <mat-option value="Cancelada por el cliente">Cancelada por el cliente</mat-option>
                <mat-option value="Cancelada por el veterinario">Cancelada por el veterinario</mat-option>
                <mat-option value="Reprogramada">Reprogramada</mat-option>
                <mat-option value="No asistida">No asistida</mat-option>
                <mat-option value="Esperando confirmación">Esperando confirmación</mat-option>
                <mat-option value="En espera de información adicional">En espera de información adicional</mat-option>
                <mat-option value="En espera de resultados">En espera de resultados</mat-option>
                <mat-option value="Seguimiento necesario">Seguimiento necesario</mat-option>
                <mat-option value="En espera de suministros o medicamentos">En espera de suministros o
                    medicamentos</mat-option>
                <mat-option value="Consulta telefónica programada">Consulta telefónica programada</mat-option>
            </mat-select>
            <mat-error
                *ngIf="appointmentForm.get('status')?.touched && appointmentForm.get('status')?.errors?.['required']">El
                estatus es requerido</mat-error>
        </mat-form-field>


        <mat-form-field appearance="outline">
            <mat-label>Usuario:</mat-label>
            <mat-select formControlName="user">
                <mat-option *ngFor="let user of listUsers" [value]="user.id">
                    {{ user.username }}
                </mat-option>
            </mat-select>
            <mat-error
                *ngIf="appointmentForm.get('user')?.touched && appointmentForm.get('user')?.errors?.['required']">El
                usuario es requerido</mat-error>
        </mat-form-field>


        <mat-form-field appearance="outline">
            <mat-label>Mascota:</mat-label>
            <mat-select formControlName="pet">
                <mat-option *ngFor="let pet of listPets" [value]="pet.id">
                    {{ pet.name }}
                </mat-option>
            </mat-select>
            <mat-error
                *ngIf="appointmentForm.get('pet')?.touched && appointmentForm.get('pet')?.errors?.['required']">La
                mascota es requerida</mat-error>
        </mat-form-field>


        <mat-form-field appearance="outline" class="field-doctors">
            <mat-label>Doctor:</mat-label>
            <mat-select formControlName="doctor">
                <mat-option *ngFor="let doctor of listDoctors" [value]="doctor.id">
                    {{ doctor.name }}
                </mat-option>
            </mat-select>
            <mat-error
                *ngIf="appointmentForm.get('doctor')?.touched && appointmentForm.get('doctor')?.errors?.['required']">El
                doctor es requerido</mat-error>
        </mat-form-field>

        <div class="btnContainer">

            <button [disabled]="!appointmentForm.valid"
                [ngClass]="{'btnSubmit': appointmentForm.valid, 'btnDisabled': !appointmentForm.valid}"
                type="submit">Actualizar cita</button>
            <button class="btnCancel" type="button" (click)="onCancelClick()">Cancelar</button>
        </div>
    </form>
</div>