.form-container {
  max-width: 95%;
  height: 80vh;
  margin: 1rem auto;
  padding: 20px;
  text-align: center;
  background-color: #fff;
  overflow: auto;
}

.back {
  position: absolute;
  top: .5rem;
  right: 1rem;
  padding: .2rem;
  border-radius: 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: white;
}

.back mat-icon {
  font-size: 2.3rem !important;
  padding: 1rem;
  padding-top: 0;
  color: #dc3545;
}

.form-container h2 {
  font-size: 1.5rem;
  margin-bottom: 20px;
  font-size: 2rem;
  font-weight: 300;
  padding: 1rem 0;
}

.form-container form {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

mat-form-field {
  margin: auto;
  width: 90%;
}

.field-doctors {
  grid-column: span 3;
  width: 30%;
  margin: auto;
}

.toggle-example {
  display: flex;
}

.btnContainer {
  grid-column: span 3;
  display: flex;
  margin: auto;
  justify-content: center;
  align-self: center;
  width: 70%;
}

.btnSubmit,
.btnCancel {
  margin: auto;
  margin-top: 1rem;
  padding: 0.6rem 1rem;
  border: thin solid #0035c5;
  border-radius: 0.30rem;
  font-size: 1.1rem;
  background-color: #0035c5;
  color: #fff;
  cursor: pointer;
  outline: none;
  transition: all 0.2s ease-in-out;
  width: 100%;
}

.btnSubmit {
  margin-right: 1rem;
}

.btnCancel {
  margin-left: 1rem;
  background-color: #dc3545;
  border: thin solid #dc3545;
  color: #fff;
}

.btnCancel:hover {
  background-color: #fff;
  color: #dc3545;
  border: thin solid #dc3545;
}

.btnSubmit:hover {
  background-color: #fff;
  color: #0035c5;
  border: thin solid #0035c5;
}

.btnDisabled {
  cursor: not-allowed !important;
  margin: auto;
  margin-top: 1rem;
  padding: .6rem 1rem !important;
  border: thin solid #2e82d7;
  border-radius: 0.30rem;
  font-size: 1.1rem;
  background-color: #2e82d7;
  color: #fff;
  cursor: pointer;
  outline: none;
  transition: all 0.2s ease-in-out;
  width: 100%;
}

button {
  padding: 0;
}

@media (width < 700px) {

  .form-container form {
    display: flex;
    flex-direction: column;
  }

  .field-doctors {
    width: 90%;
  }

  .btnContainer {
    flex-direction: column;
    width: 90%;
  }

  .btnSubmit, .btnCancel, .btnDisabled {
    width: 100%;
    margin: auto;
  }

  .btnSubmit, .btnDisabled {
    margin-bottom: 1rem !important;
  }
}