<div class="container">
    <div class="form">
        <h1 class="title">Editar mascota</h1>
        <form (ngSubmit)="onSubmit()" [formGroup]="editPetForm">
            <div class="back" (click)="onCancelClick()">
                <mat-icon>cancel</mat-icon>
            </div>
            <div class="form-group">
                <label for="name">Nombre</label>
                <input class="input" type="text" id="name" name="name" formControlName="name" placeholder="Nombre"
                    required>
                <mat-error *ngIf="editPetForm.get('name')?.touched && editPetForm.get('name')?.errors?.['required']">El
                    nombre es requerido</mat-error>
                <mat-error *ngIf="editPetForm.get('name')?.touched && editPetForm.get('name')?.errors?.['pattern']">El
                    nombre debe contener sólo letras</mat-error>
            </div>
            <div class="form-group">
                <label for="specie">Especie</label>
                <select class="input" id="specie" name="specie" formControlName="specie" required>
                    <option value="">Seleccionar especie</option>
                    <option value="Perro">Perro</option>
                    <option value="Gato">Gato</option>
                    <option value="Otra">Otra</option>
                </select>
                <mat-error
                    *ngIf="editPetForm.get('species')?.touched && editPetForm.get('species')?.errors?.['required']">La
                    especie es requerida</mat-error>
            </div>
            <div class="form-group">
                <label for="race">Raza</label>
                <input class="input" type="text" id="race" name="race" formControlName="race" placeholder="Raza"
                    required>
                <mat-error *ngIf="editPetForm.get('race')?.touched && editPetForm.get('race')?.errors?.['required']">La
                    raza es requerida</mat-error>
                <mat-error *ngIf="editPetForm.get('race')?.touched && editPetForm.get('race')?.errors?.['pattern']">La
                    raza debe conteneder sólo letras</mat-error>
            </div>
            <div class="form-group">
                <label for="sex">Sexo</label>
                <select class="input" id="sex" name="sex" formControlName="sex" required>
                    <option value="">Seleccionar sexo</option>
                    <option value="Hembra">Hembra</option>
                    <option value="Macho">Macho</option>
                </select>
                <mat-error *ngIf="editPetForm.get('sex')?.touched && editPetForm.get('sex')?.errors?.['required']">El
                    sexo es requerido</mat-error>
            </div>
            <div class="form-group">
                <label for="birthdate">Fecha de nacimiento</label>
                <input class="input" type="date" id="birthdate" name="birthdate" formControlName="birthdate"
                    placeholder="Fecha de nacimiento" required max="{{ date }}">
                <mat-error
                    *ngIf="editPetForm.get('birthdate')?.touched && editPetForm.get('birthdate')?.errors?.['required']">La
                    fecha de nacimiento es requerida</mat-error>
            </div>
            <div class="form-group">
                <label for="weight">Peso (kg)</label>
                <input class="input" type="number" id="weight" name="weight" formControlName="weight" placeholder="Peso"
                    required (keypress)="keyPress($event)">
                <mat-error
                    *ngIf="editPetForm.get('weight')?.touched && editPetForm.get('weight')?.errors?.['required']">El
                    peso es requerido</mat-error>
            </div>
            <div class="form-group">
                <label for="user">Usuario</label>
                <select class="input" id="user" name="user" formControlName="user" required>
                    <option class="option" value="">Seleccionar usuario</option>
                    <option *ngFor="let user of listClients" [value]="user.id">{{user.username}}</option>
                </select>
                <mat-error *ngIf="editPetForm.get('user')?.touched && editPetForm.get('user')?.errors?.['required']">El
                    usuario es requerido</mat-error>
            </div>
            <div class="btnContainer">
                <button [disabled]="!editPetForm.valid"
                    [ngClass]="{'btnSubmit': editPetForm.valid, 'btnDisabled': !editPetForm.valid}"
                    type="submit">Actualizar</button>
                <button class="btnCancel" type="button" (click)="onCancelClick()">Cancelar</button>
            </div>
        </form>
    </div>
</div>