<div class="add-diagnosis-container">
    <div class="back" (click)="goBack()">
        <span>Volver</span>
      </div>
    <h2>Agregar Diagnóstico</h2>
    <form (ngSubmit)="submitForm()" [formGroup]="prescriptionForm">
        <div class="container-prescription">

            <div class="form-group">
                <label for="symptom">Síntomas:</label>
                <mat-select class="select" id="symptom" name="symptom" formControlName="symptom" multiple required
                    placeholder="Selecciona el/los síntomas">
                    <mat-option *ngFor="let symptom of symptomOptions" [value]="symptom">{{ symptom }}</mat-option>
                </mat-select>
                <mat-error
                    *ngIf="prescriptionForm.get('symptom')?.touched && prescriptionForm.get('symptom')?.hasError('required')">
                    El síntoma es requerido
                </mat-error>
            </div>

            <!-- <div class="form-group">
                <label for="symptom">Síntomas:</label>
                <select id="symptom" name="symptom" formControlName="symptom" required (change)="addSymptom($event)">
                    <option value="" disabled selected>Selecciona los síntomas...</option>
                    <option *ngFor="let option of symptomOptions" [value]="option">{{ option }}</option>
                </select>
            </div> -->

            <!-- <div class="form-group symptom-checkboxes">
                <h2 *ngIf="symptoms.length === 0">Aún no has agregado síntomas</h2>
                <div *ngFor="let symptom of symptoms">
                    <mat-icon class="remove" (click)="removeSymptom(symptom)">close</mat-icon>
                    <label class="label" [for]="symptom">{{ symptom }}</label>
                </div>
            </div> -->
            <div class="form-group">
                <label for="diagnosis">Diagnóstico:</label>
                <input type="text" id="diagnosis" name="diagnosis" formControlName="diagnosis" required
                    placeholder="Diagnóstico...">
                <mat-error
                    *ngIf="prescriptionForm.get('diagnosis')?.touched && prescriptionForm.get('diagnosis')?.hasError('required')">
                    El diagnóstico es requerido
                </mat-error>
                <mat-error *ngIf="prescriptionForm.get('diagnosis')?.hasError('pattern')">
                    El diagnóstico contiene caracteres inválidos
                </mat-error>
                <mat-error *ngIf="prescriptionForm.get('diagnosis')?.hasError('minlength')">
                    El diagnóstico debe tener al menos 6 caracteres
                </mat-error>
            </div>
            <div class="form-group">
                <label for="observations">Recomendaciones:</label>
                <input type="text" id="observations" name="observations" formControlName="observations" required
                    placeholder="Recomendaciones...">
                <mat-error
                    *ngIf="prescriptionForm.get('observations')?.touched && prescriptionForm.get('observations')?.hasError('required')">
                    Las recomendaciones son requeridas
                </mat-error>
                <mat-error *ngIf="prescriptionForm.get('observations')?.hasError('pattern')">
                    Las recomendaciones contienen caracteres inválidos
                </mat-error>
                <mat-error *ngIf="prescriptionForm.get('observations')?.hasError('minlength')">
                    Las recomendaciones deben tener al menos 8 caracteres
                </mat-error>
            </div>
            <!-- <div class="form-group">
                <label for="status">Estatus:</label>
                <mat-select class="select" id="status" name="status" formControlName="status" required>
                    <mat-option value="" disabled selected>Selecciona un estatus...</mat-option>
                    <mat-option value="En tratamiento">En tratamiento</mat-option>
                    <mat-option value="Recuperado">Recuperado</mat-option>
                    <mat-option value="Sin cambios">Sin cambios</mat-option>
                </mat-select>
                <mat-error
                    *ngIf="prescriptionForm.get('status')?.touched && prescriptionForm.get('status')?.hasError('required')">
                    El estatus es requerido
                </mat-error>
            </div> -->
            <div class="form-group">
                <label for="doctor">Médico:</label>
                <mat-select class="select" id="doctor" name="doctor" formControlName="doctor" required placeholder="Selecciona un médico...">
                    <mat-option *ngFor="let doctor of doctors" [value]="doctor.id">{{ doctor.name }}</mat-option>
                </mat-select>
                <mat-error
                    *ngIf="prescriptionForm.get('doctor')?.touched && prescriptionForm.get('doctor')?.hasError('required')">
                    El médico es requerido
                </mat-error>
            </div>
        </div>
        <div class="container-medicines" [formGroup]="medicineForm">
            <h2>Agregar medicamento</h2>
            <div class="form-group">
                <mat-select class="select" formControlName="medicine" name="medicines" required placeholder="Selecciona una medicina...">
                    <mat-option *ngFor="let medicine of medicines" [value]="medicine">
                        {{ medicine.name }}
                    </mat-option>
                </mat-select>
                <mat-error
                    *ngIf="medicineForm.get('medicine')?.touched && medicineForm.get('medicine')?.hasError('required')">
                    La medicina es requerida
                </mat-error>
            </div>
            <div class="form-group">
                <input type="text" id="dose" name="dose" formControlName="dose" required placeholder="Ingresa la dosis">
                <mat-error *ngIf="medicineForm.get('dose')?.touched && medicineForm.get('dose')?.hasError('required')">
                    La dosis es requerida
                </mat-error>
                <mat-error *ngIf="medicineForm.get('dose')?.hasError('pattern')">
                    La dosis contiene caracteres inválidos
                </mat-error>
            </div>
            <div class="form-group">
                <mat-select class="select" id="via" name="via" formControlName="via" required placeholder="Selecciona una vía...">
                    <mat-option value="Oral">Oral</mat-option>
                    <mat-option value="Sublingual">Sublingual</mat-option>
                    <mat-option value="Buccal">Buccal</mat-option>
                    <mat-option value="Rectal">Rectal</mat-option>
                    <mat-option value="Intravenosa">Intravenosa</mat-option>
                    <mat-option value="Intramuscular">Intramuscular</mat-option>
                    <mat-option value="Subcutánea">Subcutánea</mat-option>
                    <mat-option value="Intradérmica">Intradérmica</mat-option>
                    <mat-option value="Inhalatoria">Inhalatoria</mat-option>
                    <mat-option value="Tópica">Tópica</mat-option>
                    <mat-option value="Oftálmica">Oftálmica</mat-option>
                    <mat-option value="Ótica">Ótica</mat-option>
                </mat-select>
                <mat-error *ngIf="medicineForm.get('via')?.touched && medicineForm.get('via')?.hasError('required')">
                    La vía es requerida
                </mat-error>
            </div>
            <div class="form-group">
                <input type="text" id="interval" name="interval" formControlName="interval" required
                    placeholder="Ingresa el intérvalo">
                <mat-error
                    *ngIf="medicineForm.get('interval')?.touched && medicineForm.get('interval')?.hasError('required')">
                    El intervalo es requerido
                </mat-error>
                <mat-error *ngIf="medicineForm.get('interval')?.hasError('pattern')">
                    El intervalo contiene caracteres inválidos
                </mat-error>
            </div>
            <button type="button" [disabled]="medicineForm.invalid"
                [ngClass]="{'btnSubmit': medicineForm.valid, 'btnDisabled': !medicineForm.valid}"
                (click)="medicinesForm()">Agregar medicamento</button>
            <div class="addedMedicines" *ngIf="listMedicines.length > 0">
                <span>Medicinas añadidas</span>
                <div class="medicine" *ngFor="let medicine of listMedicines">
                    <p>{{ medicine.medicine.name }}</p>
                    <p>{{ medicine.dose }}</p>
                    <p>{{ medicine.via }}</p>
                    <p>{{ medicine.interval }}</p>
                </div>
            </div>
        </div>
    </form>
    <div class="btnContainer">
        <button [disabled]="prescriptionForm.invalid || !hasMedicine"
        [ngClass]="{'btnSubmit': prescriptionForm.valid && hasMedicine, 'btnDisabled': prescriptionForm.invalid || !hasMedicine}"
        (click)="submitForm()">Agregar Diagnóstico</button>
        <button class="btnCancel" (click)="goBack()">Cancelar</button>
    </div>
</div>