<div class="container">
    <div class="form">
        <h1 class="title">Registrar usuario</h1>
        <form (ngSubmit)="onSubmit()" [formGroup]="tokenForm">
            <div class="form-group">
                <label for="token">Token</label>
                <input class="input" type="text" id="token" name="token" formControlName="token"
                    placeholder="Código de token" required>
                <mat-error *ngIf="tokenForm.get('token')?.touched && tokenForm.get('token')?.errors?.['required']">
                    El código de token es requerido
                </mat-error>
                <mat-error *ngIf="tokenForm.get('token')?.errors?.['pattern']">
                    Ingresa un código de token válido
                </mat-error>
                <mat-error *ngIf="tokenForm.get('token')?.errors?.['minlength']">
                    El token debe tener 8 dígitos
                </mat-error>
                <mat-error *ngIf="tokenForm.get('token')?.errors?.['maxlength']">
                    El token debe tener 8 dígitos
                </mat-error>
            </div>

            <div class="btnContainer">
                <button [disabled]="!tokenForm.valid"
                    [ngClass]="{'btnSubmit': tokenForm.valid, 'btnDisabled': !tokenForm.valid}"
                    type="submit">Registrarme</button>
            </div>
        </form>
    </div>
</div>