.container {
    width: 100%;
    height: 100%;
    scroll-behavior: smooth;
}

.back {
    position: absolute;
    top: 1rem;
    left: 1.5rem;
    padding: .44rem 1rem;
    border-bottom-right-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: #0060b0;
    color: white;
}

.back::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 100%;
    border-style: solid;
    border-color: transparent #0060b0;
    border-width: 17px 15px 17px 0;
    width: 0;
    height: 0;
}

.back span {
    font-size: 1.2rem;
    font-weight: 200;
}

.info {
    margin: auto;
    margin-top: 2rem;
    padding: 2rem 0;
    width: 80%;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.text {
    font-weight: 200;
    font-size: 1.4rem;
}

.text p {
    margin-bottom: 1rem;
}

.text p span {
    font-weight: 400;
}

.buttons-pet {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.buttons-pet button {
    width: 50%;
    height: 3rem;
    margin: auto;
    padding: 0.5rem;
    border-radius: 5px;
    border: none;
    background-color: #1e90ff;
    color: white;
    font-size: 1.2rem;
    font-weight: 300;
    cursor: pointer;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: all 0.5s ease-in-out;
}

.delete:hover {
    background-color: #ff0000 !important;
    color: #fff !important;
}

.update {
    background-color: #fff !important;
    color: #1e90ff !important;
    border: 1px solid #1e90ff !important;
}

.update:hover {
    background-color: #1e90ff !important;
    color: #fff !important;
}

.delete {
    background-color: #fff !important;
    color: #ff0000 !important;
    border: 1px solid #ff0000 !important;
}

.deleteIcon {
    color: red;
}

mat-icon {
    transform: scale(1.2);
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.form input,
.form select {
    padding: .5rem;
    margin-bottom: .5rem;
    width: 80%;
}

.form select {
    width: 85%;
}

.table-container {
    margin: auto;
    margin-top: 2rem;
    padding-bottom: 2rem;
    width: 80%;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.table {
    overflow-x: auto;
}

.table-container h5 {
    margin: 0;
    padding: 2rem 0;
    font-size: 2rem;
    font-weight: 300;
    color: #000;
    font-family: serif;
    border-block-start: thin solid black;
}

.medic {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
}

.medic p {
    margin: auto;
    margin-left: 0;
    font-size: 2.6rem;
    font-family: serif;
    font-weight: lighter;
}

.medic mat-icon {
    color: #0035c5;
    margin: auto;
    margin-right: 2rem;
    transform: scale(2);
}

.subtitle {
    border-bottom: thin solid black;
}

h5 {
    font-size: 1.5rem;
}

table {
    background-color: transparent;
    box-shadow: none;
    width: 100%;
    min-width: 600px;
}

th {
    background-color: #0060b0 !important;
    color: #fff;
}

td {
    color: #000;
}


tr.mat-mdc-row:hover {
    background-color: #3393e3 !important;
    cursor: pointer;
}

tr:nth-child(even) {
    background-color: #a2d4fd !important;
}

tr:nth-child(even):hover {
    background-color: #3393e3 !important;
}

tr.mat-mdc-row:hover td {
    color: #fff;
}

.add {
    color: #fff;
}

mat-icon {
    color: #0035c5;
}

.mat-column-symtomps,
.mat-column-diagnosis,
.mat-column-status,
.mat-column-creationDate,
.mat-column-doctor,
.mat-column-actions {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 18% !important;
    text-align: center !important;
    width: 18% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

.mat-column-actions {
    flex: 0 0 10% !important;
    width: 10% !important;
}

@media (width < 900px) {
    .info {
        grid-template-columns: repeat(1, 1fr);
    }

    .buttons-pet button {
        margin-top: 2rem;
    }
}

@media (max-width: 768px) {
    .info {
        flex-direction: column;
    }

}

@media (width < 520px) {
    .medic p {
        line-height: initial;
    }
    .medic mat-icon {
        margin-right: .5rem;
    }
}

@media (width < 400px) {
    .update, .delete {
        width: 80% !important;
    }
    .medic mat-icon {
        margin-right: 0;
        padding-right: .3rem;
    }
}