<div class="container">
    <div class="form">
        <h1 class="title">Recuperar contraseña</h1>
        <form (ngSubmit)="onSubmit()" [formGroup]="passwordForm">
            <div class="form-group">
                <label for="email">Correo electrónico</label>
                <input class="input" type="email" id="email" name="email" formControlName="email"
                    placeholder="Ingresa tu correo electrónico" required ng-model="ctrl.user.email">
                <mat-error *ngIf="passwordForm.get('email')?.touched && passwordForm.get('email')?.errors?.['required']">El correo electrónico es requerido</mat-error>
                <mat-error *ngIf="passwordForm.get('email')?.errors?.['email'] && passwordForm.get('email')?.errors?.['pattern']">Ingresa un correo electrónico válido</mat-error>
            </div>
            <div class="btnContainer">
                <button [disabled]="!passwordForm.valid" [ngClass]="{'btnSubmit': passwordForm.valid, 'btnDisabled': !passwordForm.valid}"
                type="submit">
                Enviar código
            </button>
            </div>
        </form>
    </div>
</div>