<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
</head>

<body>
    <div style="margin: auto;
                background-image: linear-gradient(to right, #33e0f7, #003aff);
                width: 80%;
                text-align: center;
                border-radius: 7px;
                padding: 1rem;">
        <h1 style="font-weight: 400; color: rgb(255, 255, 255)" th:text="${title}"></h1>
        <span style="font-size: 18px; color: rgb(255, 255, 255)" th:text="${code}"></span>
    </div>
</body>

</html>

