<div class="container">
    <div class="form">
        <h1 class="title">Escoge tu veterinaria</h1>
        <form (ngSubmit)="goLogin()" [formGroup]="loginForm">
            <div class="form-group">
                <label for="veterinary">Veterinaria</label>
                <mat-select class="input" id="veterinary" name="veterinary" formControlName="veterinary" required placeholder="Selecciona tu veterinaria" (selectionChange)="onChange($event)">
                    <mat-option *ngFor="let veterinary of veterinaries" [value]="veterinary">{{veterinary.name}}</mat-option>
                </mat-select>
                    <mat-error *ngIf="loginForm.get('veterinary')?.touched && loginForm.get('veterinary')?.errors?.['required']">La veterinaria es requerida</mat-error>
            </div>
            <div class="btnContainer">
                <button [disabled]="!loginForm.valid" [ngClass]="{'btnSubmit': loginForm.valid, 'btnDisabled': !loginForm.valid}"
                type="submit">Listo</button>
            </div>
        </form>
    </div>
</div>