<div class="table-container">
    <div class="back" (click)="goBack()">
        <span>Volver</span>
    </div>
    <div class="mat-table">
        <div class="top-container">
            <h1 class="title">Médicos</h1>
            <div class="search">
                <input matInput (keyup)="filter($event)" placeholder="Buscar">
            </div>
        </div>
        <div class="table-pag">
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

                <!-- Columna ID -->
                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef>ID</th>
                    <td mat-cell *matCellDef="let doctor">{{ doctor.id }}</td>
                </ng-container>

                <!-- Columna Username -->
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef>Nombre</th>
                    <td mat-cell *matCellDef="let doctor">{{ doctor.name }}</td>
                </ng-container>

                <ng-container matColumnDef="lastname">
                    <th mat-header-cell *matHeaderCellDef>Apellido</th>
                    <td mat-cell *matCellDef="let doctor">{{ doctor.lastname }}</td>
                </ng-container>

                <!-- Columna Email -->
                <ng-container matColumnDef="email">
                    <th mat-header-cell *matHeaderCellDef>Correo electrónico</th>
                    <td mat-cell *matCellDef="let doctor">{{ doctor.email }}</td>
                </ng-container>

                <!-- Columna Phone -->
                <ng-container matColumnDef="phone">
                    <th mat-header-cell *matHeaderCellDef>Celular</th>
                    <td mat-cell *matCellDef="let doctor">{{ doctor.phone }}</td>
                </ng-container>

                <ng-container matColumnDef="status">
                    <th mat-header-cell *matHeaderCellDef>Estatus</th>
                    <td mat-cell *matCellDef="let doctor">{{ doctor.status }}</td>
                </ng-container>

                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef>
                        <mat-icon class="add" (click)="goNewClient()">library_add</mat-icon>
                    </th>
                    <td mat-cell *matCellDef="let doctor">
                        <div class="icons">
                            <mat-icon class="icon" (click)="openEditDialog(doctor.id)">edit</mat-icon>
                            <!-- <mat-icon class="icon" (click)="deleteDoctor(doctor.id)">delete</mat-icon> -->
                        </div>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>

            <mat-paginator class="mat-paginator" [pageSize]="5" [pageSizeOptions]="[5, 10, 20]"
                showFirstLastButtons></mat-paginator>
        </div>
    </div>
</div>