<app-navbar></app-navbar>
<mat-drawer-container class="container">
    <mat-drawer class="side-container" mode="side" [opened]="isDrawerOpen">
        <mat-button-toggle-group class="toggle-group" name="fontStyle" aria-label="Font Style">
            <mat-button-toggle (click)="close('')" class="buttonSide" value="Dashboard">
                <mat-icon class="material-icons-outlined">dashboard</mat-icon>
                <span>Panel</span>
            </mat-button-toggle>
            <mat-button-toggle (click)="close('client')" class="buttonSide" value="Client">
                <mat-icon class="material-icons-outlined">group</mat-icon>
                <span>Clientes</span>
            </mat-button-toggle>
            <mat-button-toggle (click)="close('pets')" class="buttonSide" value="underline">
                <mat-icon class="material-icons-outlined">pets</mat-icon>
                <span>Mascotas</span>
            </mat-button-toggle>
            <mat-button-toggle (click)="close('appointments')" class="buttonSide" value="underline">
                <mat-icon class="material-icons-outlined">event</mat-icon>
                <span>Citas</span>
            </mat-button-toggle>
            <mat-button-toggle (click)="close('doctors')" class="buttonSide" value="Client">
                <mat-icon class="material-icons-outlined">medical_services</mat-icon>
                <span>Médicos</span>
            </mat-button-toggle>
            <mat-button-toggle (click)="close('medicines')" class="buttonSide" value="Dashboard">
                <mat-icon class="material-icons-outlined">vaccines</mat-icon>
                <span>Medicamentos</span>
            </mat-button-toggle>
            <mat-button-toggle (click)="close('services')" class="buttonSide" value="Dashboard">
                <mat-icon class="material-icons-outlined">healing</mat-icon>
                <span>Servicios</span>
            </mat-button-toggle>
            <mat-button-toggle *ngIf="showEmployees" (click)="close('employees')" class="buttonSide" value="Dashboard">
                <mat-icon class="material-icons-outlined">badge</mat-icon>
                <span>Empleados</span>
            </mat-button-toggle>
            <mat-button-toggle (click)="logout()" class="buttonSide" value="Dashboard">
                <mat-icon class="material-icons-outlined">logout</mat-icon>
                <span>Cerrar Sesión</span>
            </mat-button-toggle>
        </mat-button-toggle-group>
    </mat-drawer>
    <mat-drawer-content class="mat-drawer-content">
        <router-outlet>
            <div [ngClass]="{'progress-container': isLoading, 'progress-container-hidden': !isLoading}">
                <mat-progress-spinner class="spinner" diameter="120" 
                 mode="indeterminate" color="primary" *ngIf="isLoading"></mat-progress-spinner>
            </div>
        </router-outlet>
    </mat-drawer-content>
</mat-drawer-container>