<div class="container">
    <div class="form">
        <div class="back" (click)="onCancelClick()">
            <mat-icon>cancel</mat-icon>
        </div>
        <h1 class="title">Modificar servicio</h1>
        <form (ngSubmit)="onSubmit()" [formGroup]="serviceForm">
            <div class="form-group">
                <label for="name">Servicio</label>
                <input class="input" type="text" id="name" name="name" formControlName="name" placeholder="Nombre"
                    required>
                <mat-error *ngIf="serviceForm.get('name')?.touched && serviceForm.get('name')?.errors?.['required']">El
                    nombre es requerido</mat-error>
                <mat-error *ngIf="serviceForm.get('name')?.touched && serviceForm.get('name')?.errors?.['pattern']">El
                    nombre contiene caracteres inválidos</mat-error>
            </div>
            <div class="form-group">
                <label for="description">Descripción</label>
                <textarea class="input auto-resize" id="description" name="description" formControlName="description"
                    placeholder="Descripción" required cdkTextareaAutosize></textarea>
                <mat-error
                    *ngIf="serviceForm.get('description')?.touched && serviceForm.get('description')?.errors?.['required']">La
                    descripción es requerida</mat-error>
                <mat-error
                    *ngIf="serviceForm.get('description')?.touched && serviceForm.get('description')?.errors?.['pattern']">La
                    descripción contiene caracteres inválidos</mat-error>
            </div>
            <div class="form-group">
                <label for="price">Precio</label>
                <input class="input" type="text" id="price" name="price" formControlName="price" placeholder="Precio"
                    required (keypress)="keyPress($event)">
                <mat-error
                    *ngIf="serviceForm.get('price')?.touched && serviceForm.get('price')?.errors?.['required']">El
                    precio es requerido</mat-error>
            </div>
            <div class="form-group">
                <label for="duration">Duración</label>
                <mat-select class="input" id="duration" name="duration" formControlName="duration" required
                    placeholder="Selecciona una duración">
                    <mat-option value="15 minutos">15 minutos</mat-option>
                    <mat-option value="30 minutos">30 minutos</mat-option>
                    <mat-option value="45 minutos">45 minutos</mat-option>
                    <mat-option value="1 hora">1 hora</mat-option>
                    <mat-option value="2 horas">2 horas</mat-option>
                    <mat-option value="3 horas">3 horas</mat-option>
                </mat-select>
                <mat-error
                    *ngIf="serviceForm.get('duration')?.touched && serviceForm.get('duration')?.errors?.['required']">La
                    duración es requerida</mat-error>
            </div>

            <div class="btnContainer">
                <button [disabled]="!serviceForm.valid"
                    [ngClass]="{'btnSubmit': serviceForm.valid, 'btnDisabled': !serviceForm.valid}"
                    type="submit">Actualizar servicio</button>
                <button class="btnCancel" type="button" (click)="onCancelClick()">Cancelar</button>
            </div>
        </form>
    </div>
</div>